<div>
  <div *ngIf="flower === undefined">
    <h1>If you're reading this, its too late. The flower doesn't exist.</h1>
  </div>

  <div *ngIf="flower">
    <h1>Flower {{flower.name}} here</h1>
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [results]="plot_data">
    </ngx-charts-line-chart>
  </div>
  
</div>
