<div>
  <div class="card-columns">
    <div class="card" *ngFor="let flower of flowers">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [results]="plotDataFor(flower)">
    </ngx-charts-line-chart>
      <div class="card-body">
        <a class="card-title" routerLink="/flower/{{flower._id}}">{{flower.name}}</a>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated {{lastUpdatedTimeStr(flower)}}</small>
      </div>
    </div>
  </div>
</div>
